form.new_post {
  width: 100%;
  textarea {
    width: 100%;
    height: 72px;
  }
}

.post {
  ul {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 24px;
      .meta {
        display: block;
        font-size: .88em;
        margin-top: 2px;
      }
    }
  }
}

form {
  &.users-search {
    margin-bottom: 36px;
    input[type=text] {
      height: 36px;
      width: 66%;
      font-size: 1em;
      padding: 0 6px
    }
  }
}

.user {
  ul {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 24px;
      .meta {
        font-size: .88em;
        margin-top: 4px;
        li {
          display: inline-block;
          margin-bottom: 0;
        }
      }
      .button_to {
        margin-top: 4px;
      }
    }
  }
}