- if can?(:create, Post)
  %h1 New Post
  = render "posts/form", post: @post

%h1
  - if signed_in?
    Your feed
  - else
    All public posts

%ul{class: dom_class(Post) }
- @posts.each do |post|
  = render "posts/post", post: post