form {
  textarea {
    font-size: inherit;
  }
  .field_with_errors {
    textarea {
      box-shadow: 0 0 0 $red;
      animation: pulse 1s infinite;
    }
    @keyframes pulse {
      0% {
        box-shadow: 0 0 0 0 rgba(206, 68, 37, 1);
      }
      70% {
        box-shadow: 0 0 0 4px rgba(206, 68, 37, 0);
      }
      100% {
        box-shadow: 0 0 0 0 rgba(206, 68, 37, 0);
      }
    }
  }
}

