@font-face {
  font-family: 'Metropolis';
  src: font-url('Metropolis-Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: font-url('Metropolis-Medium.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}